# python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# git / local
.git/
.gitignore
.env
.env.*
_inventory/
*.patch

# build noise
dist/
build/

# Ignore legacy Groundlight artifacts
legacy/
!vendor/intellioptics-sdk/**
